<h2>My Goals</h2>
<div>
  <label>Goal Title:</label> <input #goalTitle />
  <button (click)="add(goalTitle.value); goalTitle.value=''">
    Add
  </button>
</div>
<br>
<ul class="goals">
  <li *ngFor="let goal of goals"
  	[class.selected]="goal === selectedGoal"
  	(click)="onSelect(goal)">
    <span class="badge">{{goal.id}}</span> {{goal.title}}
    <button class="delete"
      (click)="delete(goal); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedGoal">
  <h2>
    {{selectedGoal.title | uppercase}} is my goal
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
