<form (ngSubmit)="onSubmit(model)" #loginForm="ngForm">
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" required class="form-control" id="formGroupExampleInput" placeholder="Email"
    	[(ngModel)]="model.username" 
       name="username" #username="ngModel">
  </div>
  <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username is required</div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" required class="form-control" id="formGroupExampleInput2" placeholder="Password"
    [(ngModel)]="model.password" name="password"  #password="ngModel">
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>